# --- ESENCIALES PARA DESPLIEGUE EN RENDER ---
Django==6.0.3
gunicorn==26.0.0
dj-database-url==3.1.2
psycopg2-binary==2.9.12
whitenoise==6.9.0

# --- INTERFAZ Y API ---
django-jazzmin==3.0.4

# --- PROCESAMIENTO (Solo si los usas realmente) ---
pillow==11.0.0